footer {
    background-color: #474233;
    height: 100px;
    display: flex;
    .inside {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }
    a {
        text-decoration: none;
        color:white;
        padding: 5px 10px;
    }
}