html {

    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    //max-width: 100ch;
    //padding: 1rem;
    padding-top: 0;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }
  .inside {
    max-width: 1024px;
    margin: auto;
    //border: solid 1px red;
  }
  .flex {
    display: flex;
  }
  .professionnels {
    position: relative;
    h2 {position: absolute; top:0;
      justify-content: space-between;
    }
    ul {width: 100%;text-align: right;list-style: none;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-self: end;
      font-family: "Manjari";
    }
  }

  /* nav styles */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.index_titre {
  font-size: 6rem;
  margin: 0;
  padding: 0;
  &.professionnel {
    color: #474233;
  }
  &.contact {
    color: #DC1270;
  }
  &.reverse {}
}
.intro-home {
  display: flex;
  margin-top: 2em;
}
.chapo {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-between;
  color:#474233;
  .img_chapo {
    width: 25%;
    //border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {width: 250px; height: auto;}
  }
  .text_chapo {
    //border: solid 1px;
    width: 70%;
    padding: 1em;
    h1 {margin: 0;padding: 0; font-family: "Inter"; font-size: 2.5em; line-height:normal; margin-bottom: 0.5em;}
    p {margin: 0;}
  }
  .btn_call {
    display: flex;
    margin-top: 1em;
    justify-content: flex-start;
    .link_call {
      text-decoration: none;
      text-decoration: none;
      color: black;
      padding: 5px 20px;
      border-radius: 3px;
      background-color: #D4A968;
      font-size: 1.1em;
      &:hover {
       color: white;
      }
    }
  }
}



@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }

}
@media only screen and (max-width: 40em) {
  form {
    width: 100% !important;
    padding: 10px !important;
  }
  
}