.interventions {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    h2 {
        position: absolute;
        z-index: -1;
        width: 100%;
        top: -14rem;
        font-size: 10rem;
        text-align: center;
        color: #D4A968; font-family: "Inter";
        font-weight: bold;
    }
}
.prestations_list { 
    display: flex; width: 100%; height: 100%;padding: 0;
    min-height: 270px;
    justify-content: center;
}
.prestation_item {
    text-decoration: none;
    color: black;
    width: 100%;
    max-width: 180px;
    min-width: 180px;
    display: flex;
    list-style: none;
    margin-right: 5px;
    li {display: flex; flex-direction: column;justify-content: space-between;}
    img {width: 100%; height: 180px; object-fit: contain;}
    .titre_list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 20px;
        h3 {font-family: 'Manjari', sans-serif; text-align: center;
            margin: 0;
        }
    }
    &:hover {
        border-bottom: solid 0.5px black;
    }
}
.prestation_img{
    width: 170px;
    height: 170px;
}

.test-interventions {
    margin-top: 4rem;
    position: relative;
    h2 {position: absolute; z-index:-1;
        font-size: 10rem;
        line-height: normal;
        top: -60px;
        margin: 0;
        text-align: center;
        color: #D4A968; font-family: "Inter";
        font-weight: bold;
    }
    ul {display: flex;
        overflow-x: auto;
        list-style: none;
        padding: 0;
        li {min-width: 200px; height: 280px;padding: 0;margin-right:5px;
            font-family: 'Manjari', sans-serif;
            a {display: flex;width: 100%; height: 100%;
                text-decoration: none; color: black;
                flex-direction: column; justify-content:space-between; align-items: center;
                img {width: 100%; height: 200px; object-fit: contain;}
            }
        }
    }
}

.interventions-liste {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    display: grid;
    padding-left: 5px;
    padding-right: 5px;
    //grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
    li {
        border: solid 1px lightgrey;
        border-radius: 4px;
        display: flex;
        width: 100%;
        a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            justify-content: space-between;
        }
        img {display: flex;width: 100%;}
        h3 {font-family: 'Manjari', sans-serif; text-align: center; color: black;}
    }
}
@media only screen and (max-width: 40em) {
    .intro-home {
        display: flex;
        flex-direction: column;
        h1 {margin: auto;}
        p {padding: 10px;}
    }
    .test-interventions {
        h2 {font-size: 3.5em;
            position: initial;
        }
    }
    .index_titre.contact {
        font-size: 3.5em;
        text-align: center;
    }
}
