.nav-big {
    background-color: black;
    .navigation {
        border: solid 1px;
        a {
            text-decoration: none;
            color: black;
            &:hover {text-decoration: underline;}
        }
    }
}