.nav-big {
    background-color: #474233;
    .navigation {
        border: none;
        a {
            text-decoration: none;
            color: black;
            color: transparent;
            &:hover {text-decoration: underline;}
        }
    }
}