---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import FeedbackForm from '../components/FeedbackForm.astro';
import Interventions from '../components/Interventions.astro';
import '../styles/interventions.css';
import '../styles/form.css';
import '../styles/media.scss';
const title = "La petite bête qui pique | Insectisation";
---
<BaseLayout title={title}>
<div class="inside intro-home">
</div>
<div class="test-interventions inside">
  <h2>Interventions</h2>
  <ul>
    <li>
      <a href="">
        <img src="/images/guepe.png">
        <h3>Nid de guêpes</h3>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/images/frelon.png">
        <h3>Nid de frelons</h3>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/images/rat.png">
        <h3>Rats & rongeurs</h3>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/images/punaise-lit.png">
        <h3>Punaises de lit</h3>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/images/cafard.png">
        <h3>Cafard</h3>
      </a>
    </li>
    <li>
      <a href="">
        <img src="/images/guepe.png">
        <h3>2 Cafards</h3>
      </a>
    </li>
  </ul>
</div>

<div class="inside flex professionnels">
  <h2 class="index_titre professionnel">Professionnels</h2>
  <ul>
    <li>Restaurants</li>
    <li>Boulangeries</li>
    <li>Hôtels</li>
    <li>Entreprises</li>
    <li>Usines</li>
  </ul>
  <img src="/images/hotel.jpeg" alt="">
</div>
<div class="inside">
  <h2 class="index_titre contact">Contact</h2>
  <form action="https://getform.io/f/wdLL6pdj" method="POST" class="form_contact">
    <div class="flex">
      <input type="text" name="nom" placeholder="Nom">
      <input type="text" name="prenom" placeholder="Prénom">
    </div>
    <div class="flex">
      <input type="email" name="email" placeholder="Email">
      <input type="email" name="email" placholder="Tel">
    </div>
    <select name="type">
      <option value="">Je suis un particulier/une entreprise ?</option>
      <option value="particulier">Particulier</option>
      <option value="professionnel">Professionnel</option>
    </select>
    <div class="flex">
      <input type="text" name="cp" placeholder="Code Postal">
      <input type="text" name="ville" placeholder="Ville">
    </div>
    <textarea name="message" rows="5" cols="33"></textarea>
    <div class="content-btn">
      <button type="submit" class="submit">Envoyer</button>
    </div>
  </form>
</div>

</BaseLayout>