---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import FeedbackForm from '../components/FeedbackForm.astro';
const title = "Celine Wambst | Insectisation";
---
<BaseLayout title={title}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
<FeedbackForm />

</BaseLayout>