---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import FeedbackForm from '../components/FeedbackForm.astro';
import Interventions from '../components/Interventions.astro';
import Interventions2 from '../components/Interventions2.astro';
import Professionnels from '../components/Professionnels.astro';
import '../styles/interventions.scss';
import '../styles/form.css';
import '../styles/media.scss';
const title = "La petite bête qui pique | entreprise de traitement des nuisibles";
---
<BaseLayout title={title}>
<div class="inside">
  <br>
  La petite bête qui pique, <strong>entreprise de traîtement des nuisibles</strong> pour les particuliers et les professionnels. Nous couvrons un large ensemble d’interventions. Que ce soit la <strong>destruction de nid de guêpes ou de frelons</strong>, la <strong>dératisation</strong> de votre maison ou de vos locaux, la <strong>désinsectisation de cafards ou de punaises de lits</strong>, notre entreprise peut répondre avec efficacité à vos différents problèmes.
</div>
<div class="inside">
  <Interventions2 />
</div>
<div class="inside">
  <Professionnels />
</div>


<div class="inside">
  <h2 class="index_titre contact">Contact</h2>
  <form action="https://getform.io/f/wdLL6pdj" method="POST" class="form_contact">
    <div class="flex">
      <input type="text" name="nom" placeholder="Nom">
      <input type="text" name="prenom" placeholder="Prénom">
    </div>
    <div class="flex">
      <input type="email" name="email" placeholder="Email">
      <input type="email" name="email" placholder="Tel">
    </div>
    <select name="type">
      <option value="">Je suis un particulier/une entreprise ?</option>
      <option value="particulier">Particulier</option>
      <option value="professionnel">Professionnel</option>
    </select>
    <div class="flex">
      <input type="text" name="cp" placeholder="Code Postal">
      <input type="text" name="ville" placeholder="Ville">
    </div>
    <textarea name="message" rows="5" cols="33"></textarea>
    <div class="content-btn">
      <button type="submit" class="submit">Envoyer</button>
    </div>
  </form>
</div>

</BaseLayout>