---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/interventions.css';
const pageTitle = "Home";
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manjari:wght@100&display=swap');
		  </style>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>
		<section class=" interventions">
			<h2>Interventions</h2>
			<div class="prestations_list">
				<div class="prestation_item">
					<div class="prestation_img">
						<img>
					</div>
					<h3>Nid de guêpes</h3>
				</div>
				<div class="prestation_item">
					<div class="prestation_img">
						<img>
					</div>
					<h3>Nid de frelons</h3>
				</div class="prestation_item">
				<div class="prestation_item">
					<div class="prestation_img">
						<img>
					</div>
					<h3>Rats & rongeurs</h3>
				</div>
				<div class="prestation_item">
					<div class="prestation_img">
						<img>
					</div>
					<h3>Punaises de lit</h3>
				</div>
				<div class="prestation_item">
					<div class="prestation_img">
						<img>
					</div>
					<h3>Cafards</h3>
				</div>
				<div class="prestation_item">
					<div class="prestation_img">
						<img>
					</div>
					<h3>...</h3>
				</div>
				
			</div>
		</section>
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
