---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from '../components/Header.astro';
const title = "Mentions légales | La petite bête qui pique";
---
<BaseLayout title={title}>
    <article>
        <section id="mentions" class="inside">
        <h1>Mentions Légales</h1>
        <h2>1. L'éditeur du site</h2>
        <p>Bernard Cron ou Entrepreneur individuel<br>
        10, rue des tilleuls,<br>
        673330 OBERMODERN - ZUTZENDORF<br>
        Tél : +33 (0)6.08.68.88.85<br>
        Adresse email : <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="eb8884859f8a889fab898e99858a998f88848480c58d99">[email&#160;protected]</a><br>
        N° SIREN : 529 476 996<br>
        </p>
        <h2>2. Le directeur de publication</h2>
        <p>
        Bernard Cron
        </p>
        <h2>3. Le crédit photo</h2>
        <p>
        Tous droits réservés sur les photos et images.
        </p>
        <h2>4. L'hébergeur</h2>
        <p>
        netlify<br>
        sise 610 22nd Street, Suite 315 – CA 94107 San Francisco +1 (844) 899-7312<br>
        https://www.netlify.com<br>
        </p>
        <h2>5. Médiateur de la consommation</h2>
        <p>
        </p>
        </section>
        </article>
</BaseLayout>
