---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from '../components/Header.astro';
import '../styles/form.css';
import '../styles/media.scss';
const title = "Destruction de nid de guêpes dans la Manche(50) | La petite bête qui pique";
---
<BaseLayout title={title}>
    <div class="inside chapo">
        <div class="img_chapo">
            <img src="images/guepe.png" alt="" width="">
        </div>
        <div class="text_chapo">
            <h1>Destruction de nid de guêpes</h1>
            <p>Vous êtes confronté à un <b>nid de guêpes</b> dans votre maison ou votre jardin?<br>
                Afin d'assurer la <strong>destruction totale de votre nid de guêpes</strong>, il est recommandé de faire appel à un professionnel qualifié.<br>
                Notre entreprise, spécialiste dans l'<strong>extermination des nids de guêpes</strong> interviendra rapidement à votre domicile.
            </p>
            <br>
            <p>exterminateur nid de guêpes - 720/mois, extermination guepes 880/mois</p>

        </div>
    </div>
    <div class="inside">
        <p>vjznrgjenrùon</p>
    </div>