---
import '../styles/footer.css';
---
<footer>
    <div class="inside">
      <a href="/mentions">Mentions légales</a>
      <a href="/confidentialite">Politique de confidentialité</a>
      <a href="cookies">Gestion des cookies</a>
    </div>
</footer>