---
import '../styles/footer.css';
---
<footer>
    <div class="inside">
      <a href="/mentions">Mentions légales</a>
      <a href="/confidentialite">Politique de confidentialité</a>
      <a href="cookies">Gestion des cookies</a>
      <address>10 rte de la carriere, 50210 SAVIGNY
      </address>
      <a href="tel:+33669515950">06.69.51.59.50</a>
    </div>
</footer>