---
import Social from './Navigation.astro';
import Navigation2 from '../components/Navigation2.astro';
import Hamburger from '../components/Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---
</header>
    <nav>
        <Navigation2 />
        <ThemeIcon />
        <Hamburger />
    </nav>
</header>