---
import Social from './Navigation.astro';
import Navigation from '../components/Navigation.astro';
import Hamburger from '../components/Hamburger.astro';
---
<header>
</header>
    <nav>
        <Navigation />
        <Hamburger />
    </nav>
</header>