<div class="interventions">
    <h2>Interventions</h2>
    <ul class="prestations_list">
      <a href="" class="prestation_item">
        <li>
          <img src="/images/guepe.png">
          <div class="titre_list">
            <h3>Nid de guêpes</h3>
          </div>
        </li>
      </a>
      <a href="" class="prestation_item">
        <li>
          <img src="/images/frelon.png">
          <div class="titre_list">
            <h3>Nid de frelons</h3>
          </div>
        </li>
      </a>
      <a href="" class="prestation_item">
        <li>
          <img src="/images/rat.png">
          <div class="titre_list">
            <h3>Rats & rongeurs</h3>
          </div>
        </li>
      </a>
      <a href="" class="prestation_item">
        <li>
          <img src="/images/punaise-lit.png">
          <div class="titre_list">
            <h3>Punaises de lit</h3>
          </div>
        </li>
      </a>
      <a href="" class="prestation_item">
        <li>
          <img src="/images/cafard.png">
          <div class="titre_list">
            <h3>Cafard</h3>
          </div>
        </li>
      </a>
      <a href="" class="prestation_item">
        <li>
          <img src="/images/guepe.png">
          <div class="titre_list">
            <h3>2 Cafards</h3>
          </div>
        </li>
      </a>
    </ul>
  </div>