<h2 class="titre-service">Nos services</h2>

<ul class="interventions-liste">
    <li>
        <a href="/nid-de-guepes">
            <img src="/images/guepe.png" alt="">
            <h3>Nid de guêpes</h3>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/images/frelon.png" alt="">
            <h3>Nid de frelons</h3>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/images/rat.png" alt="">
            <h3>Rats & rongeurs</h3>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/images/punaise-lit.png" alt="">
            <h3>Punaises de lit</h3>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/images/cafard.png" alt="">
            <h3>Cafard</h3>
        </a>
    </li>
</ul>