<h2 class="titre-service">Nos services</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer viverra, magna sit amet pulvinar sagittis, tortor turpis blandit elit, id lacinia mi diam id eros. Maecenas in tortor quis neque interdum convallis ut at sapien. Integer porttitor dolor a enim interdum auctor. Praesent at justo sit amet dui iaculis luctus sit amet at nisi.</p>
<ul class="interventions-liste">
    <li>
        <a href="">
            <img src="/images/guepe.png" alt="">
            <h3>Nid de guêpes</h3>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/images/frelon.png" alt="">
            <h3>Nid de frelons</h3>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/images/rat.png" alt="">
            <h3>Rats & rongeurs</h3>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/images/punaise-lit.png" alt="">
            <h3>Punaises de lit</h3>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/images/cafard.png" alt="">
            <h3>Cafard</h3>
        </a>
    </li>
    <li>
        <a href="">
            <img src="/images/guepe.png" alt="">
            <h3>A définir</h3>
        </a>
    </li>
</ul>