<div class="nav-big">
    <div class="navigation inside">
        <a href="/">Accueil</a>
        <a href="/about/">Interventions</a>
        <a href="/tags">Professionnels</a>
        <a href="/blog/">Contact</a>
    </div>
</div>