---
import '../styles/nav.scss';
---
<div class="nav-big">
    <div class="inside nav-flex">
    <nav>
        <a href="/"><img src="images/la-petite-bete-qui-pique-logo.png" width="100px" alt="la petite bête qui pique">
        </a>
        <ul class="big-nav-links">
            <div>
            <li><a href="">Nos services</a></li>
            <li><a href="">A propos</a></li>
            <li><a href="">Actualités</a></li>
            <li><a href="">Contact</a></li>
            </div>
            <li><a href="" class="call-nav">Nous contacter</a></li>
        </ul>
        <img src="images/icons/burger.svg" width="40px" alt="" class="burger-menu">
    </nav>
    </div>
</div>
