<h2 class="titre-service">Professionnels</h2>

<ul class="professionnels-liste">
    <li>
        <a href="">
        <img src="/images/professionnels/agriculture2.jpeg" alt="" width="">
        <h3>Agriculture & Élevage</h3>
    </a>
    </li>
    <li>
        <a href="">
        <img src="/images/professionnels/btp2.jpeg" alt="" width="">
        <h3>Bâtiments & Travaux publics</h3>
    </a>
    </li>
    <li>
        <a href="">
        <img src="/images/professionnels/agriculture.jpeg" alt="" width="">
        <h3>Collectivité locale</h3>
    </a>
    </li>
    <li>
        <a href="">
        <img src="/images/professionnels/supermarche1.jpeg" alt="" width="">
        <h3>Commerce alimentaire</h3>
    </a>
    </li>
    <li>
        <a href="">
        <img src="/images/professionnels/ecole.jpeg" alt="" width="">
        <h3>Éducation</h3>
    </a>
    </li>
    <li>
        <a href="">
        <img src="/images/professionnels/industrie1.jpeg" alt="" width="">
        <h3>Industrie</h3>
    </a>
    </li>
    <li>
        <a href="">
        <img src="/images/professionnels/hotellerie.jpeg" alt="" width="">
        <h3>Hôtellerie</h3>
    </a>
    </li>
    <li>
        <a href="">
        <img src="/images/professionnels/restaurant1.jpeg" alt="" width="">
        <h3>Restauration</h3>
    </a>
    </li>
    <li>
        <a href="">
        <img src="/images/professionnels/agriculture.jpeg" alt="" width="">
        <h3>Associations</h3>
    </a>
    </li>
    <li>
        <a href="">
        <img src="/images/professionnels/hospital.jpeg" alt="" width="">
        <h3>Hôpitaux</h3>
    </a>
    </li>
</ul>