<h2>Professionnels</h2>
<ul class="professionnels-liste">
    <li>Agriculture & Élevage</li>
    <li>BTP</li>
    <li>Collectivité locale</li>
    <li>Commerce alimentaire</li>
    <li>Éducation</li>
    <li>Industrie</li>
    <li>Hôtellerie</li>
    <li>Restauration</li>
</ul>