<div class="inside flex professionnels">
    <h2 class="index_titre professionnel">Professionnels</h2>
    <ul>
      <li>Restaurants</li>
      <li>Boulangeries</li>
      <li>Hôtels</li>
      <li>Entreprises</li>
      <li>Usines</li>
    </ul>
    <img src="/images/hotel.jpeg" alt="">
  </div>