<div class="zones_interventions">
    <ul>
        <li>Granville</li>
        <li>Bayeux</li>
        <li>Agneaux</li>
        <li>Bréhal</li>
        <li>Périers</li>
        <li>Saint-Lô</li>
        <li>Coutances</li>
        <li>Avranches</li>
        <li>Cerisy-la-Forêt</li>
        <li>Tessy-Bocage</li>
        <li>Souleuvre en Bocage</li>
        <li>Le Molay-Littry</li>
        <li>Cerisy-la-Salle</li>
        <li>Torigny-les-villes</li>
        <li>Percy-en-Normandie</li>
        <li>Saint-Jean-de-Daye</li>
        <li>Vire</li>
        <li>La Haye-du-Puits</li>
        <li>Carentan</li>
        <li>Villedieu-les-Poêles</li>
        <li>Villedieu-les-Poêles</li>
    </ul>
</div>