---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/nav.css';
import '../styles/media.scss'
const {title} = Astro.props;
---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/media.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manjari:wght@100;400;700&display=swap')
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="google-site-verification" content="PWMLkCCQ2KS1_JpyA0JrZ771wYjpdjFUxCNQTgH7hdw" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
    <script type="application/ld+json">
    {
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "La petite bête qui pique",
  "description": "Entreprise de traitement des nuisibles et dératisation, destruction de nid de frelons et guêpes",
  "image": "https://www.la-petite-bete-qui-pique.fr/images/la-petite-bete-qui-pique-logo.png",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "	10 RTE DE LA CARRIERE",
    "postalCode": "50210",
    "addressLocality": "SAVIGNY",
    "addressRegion": "",
    "addressCountry": "FR"
  },
  "telephone": "+33669515950",
  "email": "celinewambst5067@gmail.com",
  "url": "https://www.la-petite-bete-qui-pique.fr",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Lundi",
      "opens": "07:00:00",
      "closes": "21:00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Mardi",
      "opens": "07:00:00",
      "closes": "21:00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Mercredi",
      "opens": "07:00:00",
      "closes": "21:00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Jeudi",
      "opens": "07:00:00",
      "closes": "21:00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Vendredi",
      "opens": "07:00:00",
      "closes": "21:00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Samedi",
      "opens": "07:00:00",
      "closes": "21:00:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Dimanche",
      "opens": "07:00:00",
      "closes": "21:00:00"
    }
  ],
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "49.075778",
    "longitude": "-1.318733"
  }
}
</script>
  </body>
</html>